@import url('header.css');
@import url('font.css');

body {
    background-image: url("/Ressources/Pictures/Background/old_paper_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Pirates;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px 2px white, -2px -2px 2px white;
}

h2 {
    font-size: 30px;
    text-shadow: 2px 2px 2px white, -2px -2px 2px white;
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

img {
    width: 300px;
    height: 250px;
}


p {
    font-size: 30px;
}

.flex-container>* {
    padding: 10px;
    flex: 1 100%;
    margin: 10px;
}

.column_1 {
    background-image: linear-gradient(moccasin, white);
    border-radius: 5px;
    border: 1px #000000 dotted;
}

.column_1 a,
.column_2 a,
.column_3 a {
    text-decoration: none;
    color: black;
}

.column_2 {
    background-image: linear-gradient(mediumseagreen, white);
    border-radius: 5px;
    border: 1px #000000 dotted;
}

.column_3 {
    background-image: linear-gradient(royalblue, white);
    border-radius: 5px;
    border: 1px #000000 dotted;
}

.link {
    opacity: 0.5;
    transition: opacity 0.5s linear;
}

.link:hover {
    opacity: 1;
}

@media all and (min-width: 768px) {

    .column {
        flex: 1 auto;
    }
}