@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('header.css');

body {
    padding: 0;
    margin: 0;
    background-color: #130d0a;
    font-family: 'Roboto';
    color: #fff;
}

#hero {
    height: 800px;
    overflow: hidden;
    position: relative;
}

#content {
    background-color: #130d0a;
    padding: 30px;
}

.layer {
    background-position: bottom center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    position: fixed;
    z-index: -1;
}

#hero-mobile {
    display: none;
    background: url("../Ressources/Pictures/full-illustration-dolls.jpg") no-repeat center bottom/cover;
    height: 320px;
}

.first-section {
    padding: 50px 0 20px 0;
}

.text-header {
    font-size: 50px;
    text-align: center;
}

h1 {
    line-height: 120%;
    margin-bottom: 30px;
}

p {
    color: #ede0d5;
    font-size: 18px;
    line-height: 150%;
}

#hero,
.layer {
    min-height: 800px;
    max-width: 1900px;
    margin: 0 auto;
    overflow: hidden;
}

.layer-bg {
    background-image: url("../Ressources/img/Foret.jpeg");
    background-size: cover;
    /* Ajuste l'image à la taille du conteneur */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
    background-position: center;
}

.layer-1 {
    /*background-image: url("/Ressources/Pictures/russian_dolls_statues.png");
    background-position: left bottom;*/
    background-image: url("../Ressources/Pictures/russian_dolls_statues.png");
    background-position: left bottom;
    background-size: cover;
    margin-left: 200px;
    background-size: 900px 800px;
    /* Ajuste l'image pour couvrir toute la zone */
}

.layer-3 {
    background-image: url("../Ressources/img/personnage.png");
    background-position: right bottom;
}

.layer-4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
}

.representation {
    width: 50%;
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    #hero {
        display: none;
    }

    #hero-mobile {
        display: block;
    }
}

.tutorial-link {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
}

.tutorial-link:hover {
    color: #ede0d5;
}
